@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    } 
  }

  @keyframes slide-down {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes open-element {
    0% {
      transform: scaleY(0);
      transform-origin: top;
      opacity: 0;
    }
    100% {
      transform: scaleY(1);
      transform-origin: top;
      opacity: 1;
    }
  }
/* animation for show and hide update-task box */ 

  @keyframes flip-in-x {
    0% {
      transform: perspective(800px) rotateX(0deg);
      opacity: 1;
    }
    100% {
      transform: perspective(800px) rotateX(90deg);
      opacity: 0;
    }
  }
  
  @keyframes flip-out-x {
    0% {
      transform: perspective(800px) rotateX(240deg);
      opacity: 0;
    }
    100% {
      transform: perspective(800px) rotateX(360deg);
      opacity: 1;
    }
  }

  @keyframes flip-in-y {
    0% {
      transform: perspective(800px) rotateY(90deg);
      opacity: 0;
    }
    100% {
      transform: perspective(800px) rotateY(0deg);
      opacity: 1;
    }
  }
  
  @keyframes flip-out-y {
    0% {
      transform: perspective(800px) rotateY(0deg);
      opacity: 1;
    }
    100% {
      transform: perspective(800px) rotateY(90deg);
      opacity: 0;
    }
  }