
/* privacy */
#privacy__container {
    .privacy__nav {
      width: 640px;
      padding: 10px 0;
      color: #e65b57;
      font-size: 30px;
    }



    .privacy__content {
      display: flex;
      flex-direction: column;
      margin: auto;
      max-width: 620px;
      color: #785e60;



        .privacy__item {
          > h2 , h3, h4 {
            color: #541c1f;
          }

          .privacy__heading {
            color: #541c1f;
            font-size: 24px;
            font-weight: 600;
          }

          > h3 {
            font-size: 18px;
            font-weight: 500;
          }

          > h4 {
            font-size: 16px;
            font-weight: 500;
          }

          > div p  a{
            color: #db524d;
            font-weight: bold;
          }

          .privacy__para {
              font-size: 18px;
          }

          /* items */
          .Privacy_Policy {
            .privacy__heading {
              font-size: 32px;
              font-weight: semi-bold;
              padding: 28px 0;
            }

            .privacy__para {
              padding: 10px 0;
            }
            
          }

          .Information_Collection_And_Use {
            > h2 {
              font-size: 24px;
              font-weight: semi-bold;
              padding: 28px 0 10px 0;
            }

            .privacy__para {
              padding: 10px 0;
            }

            .privacy__subheading {
              font-size: 19px;
              font-weight: bold;
              padding: 10px 0;
            }

            > div h4  {
              font-size: 16px;
              font-weight: semi-bold;
              padding: 10px 0;
            }

            > div li {
              padding-left: 32px;
            }

            > div li {
              padding-top: 6px;
              padding-bottom: 6px;
            }
            
          }

          .Use_Of_Data {
            > h2 {
              padding: 30px 0;
            }
            > ul li {
              padding : 6px 16px;
            }
            
          }

          .Disclosure_Of_Data {
            > h2 {
              padding: 20px 0;
              font-size: 24px;
            }
            > h3 {
              padding: 10px 0;
              font-size: 18px;
              
            }

            > ul li {
              padding : 6px 16px;
            }
            
            
          }


          .Transfer_Of_Data, .Changes_To_This_Privacy_Policy, .Service_Providers, .Security_Of_Data, .Contact_Us {
            .privacy__heading {
              padding: 30px 0 20px 0;
            }
            > p {
              padding: 10px 0;
            }

          }
            
          .Contact_Us {
            > a {
              padding-left: 20px;
            }
            padding-bottom: 40px;
              
          }
        }
    }


  }