.login__container {

    .login__box-tittle > h2{
        text-shadow: rgba(255,255,255,0.6) 7px 3px 4px;
    }

    .login__box-subTittle {
        text-shadow: rgba(255,255,255,0.5) 4px 4px 4px;
    }

    .login__form-container {
        width: 350px;
        height: 420px;
        box-shadow: rgb(196, 196, 196) 2px 2px 8px;
    }

    .login__button {
        box-shadow: rgba(0,0,0,0.6) 5px 6px 4px;
    }

    .login__google-btn {
        box-shadow: rgba(0,0,0,0.2) 3px 3px 8px;
    }
}