@import '_privacy.scss';
@import '_app.scss';
@import '_description.scss';

/* css common */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.main__app {
  background-color: rgb(186, 73, 73);
  transition: background-color 1s ease-in-out;
}

/* navbar */
.nav__container {
  width: 620px;

 .nav__wrapper {

 }
 .progress__bar {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

 }
}

.nav__menu-item {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  margin: 0 0 0 8px;
  padding: 4px 10px;
  border-radius: 5px;
  opacity: 0.9;
  font-size: 13px;
  align-items: center;

}

@media screen and (max-width: 660px) {
  .nav__container {
    max-width: 500px;
    width: 100%;
  }

 .nav__menu-item {
  > span {
    display: none;
  }
 
  padding: 6px;
  > img {
     width: 20px;
     height: 20px;
     margin-right: 0;
  }
 }
}

@media screen and (max-width: 535px) {
  .nav__container {
    max-width: 400px;
    width: 100%;
    margin-left: 60px;
  }
}

/* footer */
.footer {
  padding: 28px 0 20px 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  background-color: white;

  .footer__container {
    max-width: 600px;
  }

  .footer__contact-logo {
    width: 40px;
    height: 40px;
    margin: 0 px;
    margin: 12px 6px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #999999;
    padding: 6px;
  }

  .footer__nav-item {
    padding: 0 6px;
    font-size: 14px;
  }

}


